<h3> Search Results: </h3>
<div class="check-block">
  <% if params[:checkuser] == '1' %>
    <% users.each do |user| %>
      <h2><%= link_to "#{user.name}", user %> </h2>
      <ol class="dash-list-block"><h5><%= "Notes"%></h5>
      <% user.notes.each do |note| %>
        <li class="note-show dash-list-item"><%= link_to note.name, note %></li>
      <% end %></ol>
      <ol class="dash-list-block"><h5><%= "Photos"%></h5>
      <% user.photos.each do |photo| %>
        <li class="photo-show dash-list-item"><%= link_to photo.name, photo %></li>
      <% end %>
    <% end %></ol>
  <% end %>
</div>

<div class="check-block">
  <% if params[:checkcat] == '1' %>
    <% categories.each do |category| %>
      <% unless [category.notes, category.photos].all?(&:empty?) %>
        <ol class="dash-list-block"><h5><%= link_to category.name, category %></h5>
        <% category.notes.each do |note| %>
          <li class="note-show dash-list-item"><%= "Note: "%><%= link_to note.name, note %></li>
        <% end %>
        <% category.photos.each do |photo| %>
          <li class="photo-show dash-list-item"><%= "Photo: "%><%= link_to photo.name, photo %></li>
        <% end %>
      <% end %>
    <% end %></ol>
  <% end %>
</div>

<div class="check-block">
  <% if params[:checkname] == '1' %>
    <% unless notes.empty? %>
      <ol class="dash-list-block"><h5><%= "Notes" %></h5>
      <% notes.each do |note| %>
        <li class="note-show dash-list-item"><%= link_to note.name, note %></li>
      <% end %>
    <% end %></ol>
    <% unless photos.empty? %>
      <ol class="dash-list-block"><h5><%= "Photos" %></h5>
      <% photos.each do |photo| %>
        <li class="photo-show dash-list-item"><%= link_to photo.name, photo %></li>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="check-block">
  <% if params[:checktag] == '1' %>
    <% tags.each do |tag| %>
      <% unless tag.taggings.empty? %>
        <% tag.taggings.each do |taggin| %>
          <% taggin.notes.each do |note| %>
            <p class="note-show"><%= link_to note.name, note %></p>
          <% end %>
          <% taggin.photos.each do |photo| %>
            <p class="photo-show"><%= link_to photo.name, photo %></p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
