<h1>Homepage</h1>

<% # if select_box = category ----> category search %>
<% # if select_box = notes ----> note search %>
<% # if select_box = photos ----> photo search %>
<% # if select_box = users ----> user search %>
<% # if select_box = tags ----> tag search %>
<% # if select_box = all ----> all search %>


<% if users || categories || tags || notes || photos %>

  <div class="check-block">
    <% unless users.empty? %>
      <% if params[:checkuser] == '1' %>
        <% users.each do |user| %>
          <h2><%= "#{user.name}"%> </h2>
          <h5><%= "Notes"%></h5>
          <% user.notes.each do |note| %>
            <p class="note-show"><%= link_to note.name, note %></p>
          <% end %>
        <% end %>
        <% users.each do |user| %>
          <h5><%= "Photos"%></h5>
          <% user.photos.each do |photo| %>
            <p class="photo-show"><%= link_to photo.name, photo %></p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="check-block">
    <% if params[:checkcat] == '1' %>
      <% categories.each do |category| %>
        <% unless category.notes.empty? %>
          <h5><%= "Photos in "%><%= link_to category.name, category %></h5>
          <% category.notes.each do |note| %>
            <p class="note-show"><%= link_to note.name, note %></p>
          <% end %>
        <% end %>
        <% unless category.photos.empty? %>
          <h5><%= "Photos in "%><%= link_to category.name, category %></h5>
          <% category.photos.each do |photo| %>
            <p class="photo-show"><%= link_to photo.name, photo %></p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="check-block">
    <% if params[:checkname] == '1' %>
      <% unless notes.empty? %>
        <h5><%= "Notes" %></h5>
        <% notes.each do |note| %>
          <p class="note-show"><%= link_to note.name, note %></p>
        <% end %>
      <% end %>
      <% unless photos.empty? %>
        <h5><%= "Photos" %></h5>
        <% photos.each do |photo| %>
          <p class="photo-show"><%= link_to photo.name, photo %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="check-block">
    <% if params[:checktag] == '1' %>
      <% tags.each do |tag| %>
        <% unless tag.taggings.empty? %>
          <% tag.taggings.each do |taggin| %>
            <% taggin.notes.each do |note| %>
              <p class="note-show"><%= link_to note.name, note %></p>
            <% end %>
            <% taggin.photos.each do |photo| %>
              <p class="photo-show"><%= link_to photo.name, photo %></p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
