<div><h3><%= form_title %></h3></div>

<div>
  <%= form_for(note) do |f| %>
    <div class="field">
      <label for="name">Name: </label>
      <%= f.text_area :name, placeholder: "meeting_notes_2016-08-04", class: 'form-field' %>
    </div>

    <div class="field">
      <label for="body">Body: </label>
      <%= f.text_area :body, placeholder: "Today we started planning...", class: 'form-field' %>
    </div>

    <div class="field">
      <label for="file_type">File Extension: </label>
      <%= f.select :file_type, options_from_collection_for_select(["txt", "md"], :file_type) %>
    </div>

    <div class="field">
      <label for="category_id">Category: </label>
      <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name) %>
    </div>

<<<<<<< HEAD
    <div class="field">
=======
    <div>

>>>>>>> b3a9bf3e110ed3d2f75ea628112fc61dbbdc98a8
      <label for="user_id">Author: </label>
      <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :name) %>
    </div>

<<<<<<< HEAD
    <div class="actions">
=======
    <div>
      <label for="user_id">Additional Authorized Users: </label>
      <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :name) %>
    </div>

    <div>
      <label for="permission_type">Permission Type: </label>
      <%= f.select :permission_id, options_from_collection_for_select(Permission.all, :permission_id, :permission_type) %>
    </div>

    <div>
>>>>>>> b3a9bf3e110ed3d2f75ea628112fc61dbbdc98a8
      <%= f.submit %>
    </div>
  <% end %>
</div>
