<% notes.each_with_index do |note, i| %>
  <h3 class="card blue-grey darken-1">
    Note <%= i + 1 %>
  </h3>
  <div class="card-content white-text">
    <div>Name: <%= note.note_with_type %></div>
    <div>Author: <%= note.user_id %></div>
    <div>Category: <%= note.category.name %></div>
    <div>Body: <%= note.body %></div>
  </div
<% end %>
