<h3>Note:</h3>
<% if authorized?(note) %>
  <div>Name: <%= note.note_with_type %></div>
  <div>Author: <%= link_to note.user.name, note.user %></div>
  <div>Category: <%= link_to note.category.name, note.category %></div>
  <div>Body: <%= note.body %></div>
  <div>Tags:<br/>
    <% note.tags.each do |tag| %>
<<<<<<< HEAD
      <div class='chip'>
        <%= link_to tag.name, tag %>
      </div>
    <% end %>
  </div>
  <%= link_to "Edit", edit_note_path, class: "waves-effect waves-light btn" %>
=======
      <div class='chip'><%= link_to tag.name, tag %></div>
    <% end %>
  </div>
>>>>>>> 9c90dc4a642fa9f3cca24eead512759773c3e08d
<% else %>
  <span></span>
<% end %>
