<h3>Note:</h3>
<% if authorized?(note) %>
<<<<<<< HEAD
<div class="row">
  <div class="card file-card col m8 offset-m2">
      <div class="card-content white-text">
        <h3 class="card-title">Note:</h3>
      <div>Name: <%= note.note_with_type %></div>
      <div>Author: <%= note.user_id %></div>
      <div>Category: <%= note.category.name %></div>
      <div>Body: <%= note.body %></div>
    </div>
  </div>
</div>
=======
  <div>Name: <%= note.note_with_type %></div>
  <div>Author: <%= link_to note.user.name, note.user %></div>
  <div>Category: <%= link_to note.category.name, note.category %></div>
  <div>Body: <%= note.body %></div>
>>>>>>> d2029c0a61c64cc8dd8938fad77d07b2c888de74
<% else %>
  <span></span>
<% end %>
