<h3><%= link_to user.name, user %></h3>
<% if authorized_any?(user.notes + user.photos) %>
  <p>Uploads: <%= user.note_count + user.photo_count %></p>
  <p>Last week: - notes, - photos</p>
  <p>All time: <%= user.note_count %> notes, <%= user.photo_count %> photos</p>

  <% user.photos.each do |photo| %>
    <% if has_permission?(photo) %>
  <div class="card file-card">
    <div class="card-content">
      <h5 class="card-title"><%= link_to photo.name, photo %></h5>
      <p>Category: <%= link_to photo.category.name, photo.category %></p>
      <p>Last Updated: <%= photo.updated_at %></p>
      <p>Created: <%= photo.created_at %></p>
      <p><%= image_tag photo.upload.url(:medium) %></p>
    </div>
  </div>
    <% end %>
  <% end %>

  <% user.notes.each do |note| %>
    <% if has_permission?(note) %>
  <div class="card file-card">
    <div class="card-content">
      <h5 class="card-title"><%= link_to note.name, note %></h5>
      <p>Category: <%= link_to note.category.name, note.category %></p>
      <p>Last Updated:<%= note.updated_at %></p>
      <p>Created: <%= note.created_at %></p>
      <p>Type: <%= note.file_type %></p>
    </div>
  </div>
    <% end %>
  <% end %>
<% else %>
  <p>You are not authorized to see any of this user's uploads.</p>
<% end %>
