<h3>Uploaded by <%= link_to user.name, user %>:</h3>
<p><%= user.name.capitalize %> has uploaded <%= user.notes.where(created_at: (Time.now - 7.days)..Time.now).count %> notes and <%= user.photos.where(created_at: (Time.now - 7.days)..Time.now).count %> photos in the last week<p>
<p><%= user.name.capitalize %> has uploaded <%= user.notes.count %> total notes and <%= user.photos.count %> total photos<p>

<% user.photos.each do |photo| %>
  <% if authorized_show?(photo) %>
    <h5><%= link_to photo.name, photo %></h5>
    <p>Category: <%= link_to photo.category.name, photo.category %></p>
    <p>Last Updated: <%= photo.updated_at %></p>
    <p>Created: <%= photo.created_at %></p>
    <p><%= image_tag photo.upload.url(:medium) %></p>
  <% end %>
<% end %>

<% user.notes.each do |note| %>
  <% if authorized_show?(note) %>
    <h5><%= link_to note.name, note %></h5>
    <p>Category: <%= link_to note.category.name, note.category %></p>
    <p>Last Updated:<%= note.updated_at %></p>
    <p>Created: <%= note.created_at %></p>
    <p>Type: <%= note.file_type %></p>
  <% end %>
<% end %>
