<header class="main-header">
  <nav>
    <div class="row">
      <div class="col s2 app-title">
        <p class="header-title"><h5>(App Name)</h5></p>
      </div>

      <div class="col s3 push-1 heading-block">
        <div class="col s4 heading">
          <%= link_to "Home", root_path %>
        </div>

        <div class="col s4 heading cat">
          <%= link_to "Categories", categories_path, id: "in-nav" %>
        </div>

        <div class="col s4 heading">
          <%= link_to "Users", users_path %>
        </div>
      </div>

      <div class="col s6">
        <div class="nav-wrapper">
          <form>
            <div class="input-field col s4 offset-s2">

              <div class="search-block">
                <div class="search-box">

                  <%= form_tag search_path do %>
                    <input id="search" type="search" class="search full-width" placeholder="Search" name="query" value="">
                  <% end %>


                  <label for="search" remote=true><i class="material-icons">search</i></label>
                  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                </div>

                <div class="checkboxes">
                  <%= check_box_tag(:checkuser) %>
                  <%= label_tag(:checkuser, "user", data: {remote: true}) %>

                  <%= check_box_tag(:checkcat) %>
                  <%= label_tag(:checkcat, "category", data: {remote: true}) %>

                  <%= check_box_tag(:checkphoto) %>
                  <%= label_tag(:checkphoto, "photo", data: {remote: true}) %>

                  <%= check_box_tag(:checknote) %>
                  <%= label_tag(:checknote, "note", data: {remote: true}) %>
                </div>

              </div>
            </div>

            <div class="sign-in-out-up col s4 offset-s2">
              <% if signed_in? %>
                <span class="welcome">Welcome <%= current_user.name %>!</span>
                <%= link_to "Sign Out", sign_out_path, method: :delete, class: "waves-effect waves-light btn sign-butt" %>
              <% else %>
                <%= link_to "Sign In", sign_in_path, class: "waves-effect waves-light btn sign-butt" %>
                <%= link_to "Sign Up", sign_up_path, class: "waves-effect waves-light btn sign-butt" %>
              <% end %>
            </div>
          </form>
        </div>
      </div>

    </div>
  </nav>
</header>
