<% photos.each_with_index do |photo, i| %>
<% if authorized?(photo) %>
  <h3>
    Photo <%= i + 1 %>
  </h3>
  <div>Name: <%= photo.photo_with_type %></div>
  <div>Author: <%= note.user_id %></div>
  <div>Category: <%= note.category.name %></div>
  <div>Body: <%= note.body %></div>
  <% else %>
    <span></span>
  <% end %>
<% end %>
