<% photos.each_with_index do |photo, i| %>
<% if authorized?(photo) %>
  <h3>
    Photo <%= i + 1 %>
  </h3>
  <div>Name: <%= photo.name %></div>
  <div>Author: <%= photo.user.name %></div>
  <div>Category: <%= photo.category.name %></div>
  <div>Description: <%= photo.desc %></div>
  <div><%= image_tag photo.upload.url(:medium) %></div>
  <% else %>
    <span></span>
  <% end %>
<% end %>
