<% photos.each_with_index do |photo, i| %>
<% if authorized?(photo) %>
  <h3>
    Photo <%= i + 1 %>
  </h3>
<<<<<<< HEAD
  <div>Name: <%= photo.photo_with_type %></div>
  <div>Author: <%= note.user_id %></div>
  <div>Category: <%= note.category.name %></div>
  <div>Body: <%= note.body %></div>
  <% else %>
    <span></span>
  <% end %>
=======
  <div>Name: <%= photo.name %></div>
  <div>Author: <%= photo.user.name %></div>
  <div>Category: <%= photo.category.name %></div>
  <div>Description: <%= photo.desc %></div>
  <div><%= image_tag photo.upload.url(:medium) %></div>
>>>>>>> 37b158f1b5b24b2e167afdea8265283e2ba37eed
<% end %>
