<h3>Photo:</h3>
<% if authorized?(photo) %>
  <div>Name: <%= photo.name %></div>
  <div>Author: <%= link_to photo.user.name, photo.user %></div>
  <div>Category: <%= link_to photo.category.name, photo.category %></div>
  <div>Description: <%= photo.desc %></div>
  <div><%= image_tag photo.upload.url(:medium) %></div>
  <div>Tags:<br/>
    <% photo.tags.each do |tag| %>
      <div class='chip'>
        <%= link_to tag.name, tag %>
      </div>
    <% end %>
  </div>
  <%= link_to "Edit", edit_photo_path, class: "waves-effect waves-light btn" %>
<% else %>
  <span></span>
<% end %>
