<h3>Photo:</h3>
<% if authorized?(photo) %>
  <div>Name: <%= photo.name %></div>
  <div>Author: <%= link_to photo.user.name, photo.user %></div>
  <div>Category: <%= link_to photo.category.name, photo.category %></div>
  <div>Description: <%= photo.desc %></div>
  <div><%= image_tag photo.upload.url(:medium) %></div>
<% else %>
  <span></span>
<% end %>
