<%= form_for(category) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.hidden_field :parent_category_id, value: params[:parent_category_id] %>
    <div class="waves-effect waves-light btn">
      <%= f.submit %>
    </div>
  </div>

<% end %>
