<div> <%= link_to "Create Category", new_category_path, class: "btn" %> </div>

  <% categories.each do |category| %>
    <p><% if [category.children, category.notes, category.photos].all?(&:empty?) %></p>
      <%= link_to category.name + " (No items)", category %>
    <% else %>
      <p><%= link_to category.name + " (#{item_count(category)})", category %></p>
    <% end %>
  <% end %>
<% categories.each do |category| %>

<div class="row">
  <div class="card file-card col m8 offset-m2">
    <div class="card-content white-text">
      <h3 class="card-title">Category:</h3>
      <p><%= category.name %></p>
    </div>
  </div>
</div>

  <p><%= link_to category.name, category %></p>

<% end %>

<% if notes %>
  <% notes.each do |note| %>
    <p><%= link_to note.name, note %></p>
  <% end %>
<% end %>

<% if photos %>
  <% photos.each do |photo| %>
    <p><%= link_to photo.name, photo %></p>
  <% end %>
<% end %>
