<div> <%= link_to "Create Category", new_category_path, class: "btn" %> </div>

<% categories.each do |category| %>
  <p><% if [category.children, category.notes, category.photos].all?(&:empty?) %></p>
    <%= link_to category.name + " (No items)", category %>
  <% else %>
    <p><%= link_to category.name + " (#{item_count(category)})", category %></p>
  <% end %>
<% end %>

<% if notes %>
  <% notes.each do |note| %>
    <p><%= link_to note.name, note %></p>
  <% end %>
<% end %>

<% if photos %>
  <% photos.each do |photo| %>
    <p><%= link_to photo.name, photo %></p>
  <% end %>
<% end %>
