<div>
  <%= link_to "Create Category", new_category_path(id: category.parent_category_id), class: "btn" %>
</div>

<h3> <%= category.name.capitalize %> </h3>

<h6 class="category-path">
  <%= "Current Path: " %>
  <% if category.parent %>
    <%= link_to "Categories", categories_path, id: "in-page" %>
      <% category.ancestors.each do |lynx| %>
      <span class="waves-effect"><i class="material-icons">chevron_right</i></span>
      <%= link_to lynx.name, category_path(lynx) %>
    <% end %>

    <span class="waves-effect"><i class="material-icons">chevron_right</i></span>
    <strong><%= link_to category.name, category_path(category) %></strong>

  <% else %>
    <%= link_to "Categories", categories_path %>
    <span class="waves-effect"><i class="material-icons">chevron_right</i></span>
    <strong><%= link_to category.name, category %></strong>
  <% end %>
</h6>

<% if [category.children, category.notes, category.photos].all?(&:empty?) %>
  <p> This folder is empty! </p>
<% else %>
  <% category.children.each do |child| %>
    <div class="category-name">
      <% if [child.children, child.notes, child.photos].all?(&:empty?) %>
        <%= link_to child.name + " (No items)", child %>
      <% else %>
        <%= link_to child.name + " (#{item_count(child)})", child %>
      <% end %>
    </div>
  <% end %>

  <% category.notes.each_with_index do |note, i| %>
    <h4>
      Note <%= i + 1 %>
    </h4>
    <div>Name: <%= note.note_with_type %></div>
    <div>Author: <%= note.user_id %></div>
    <div>Category: <%= note.category.name %></div>
    <div>Body: <%= note.body %></div>
  <% end %>

  <% category.photos.each_with_index do |photo, i| %>
    <h4>
      Photo <%= i + 1 %>
    </h4>
    <div>Name: <%= photo.name %></div>
    <div>Author: <%= photo.user.name %></div>
    <div>Category: <%= photo.category.name %></div>
    <div>Description: <%= photo.desc %></div>
    <div><%= image_tag photo.upload.url(:medium) %></div>
  <% end %>
<% end %>
