<p class="back">
  <%= link_to "Back", :back, class: "waves-effect waves-light btn" %>
</p>

<p>
  <% if category %>
    <%= link_to category.name, category %>
  <% end %>
  <% if notes %>
    <% notes.each_with_index do |note, i| %>
      <h3>
        Note <%= i + 1 %>
      </h3>
      <div>Name: <%= note.note_with_type %></div>
      <div>Author: <%= note.user_id %></div>
      <div>Category: <%= note.category.name %></div>
      <div>Body: <%= note.body %></div>
    <% end %>
  <% end %>
  <% if !category && !notes %>
    <%= "This folder is empty" %>
  <% end %>
</p>
