<div>
  <%= link_to "Create Category", new_category_path(id: category.parent_category_id), class: "btn" %>
</div>

<div class="category-path">
  <% if category.parent %>
    <%= link_to "Categories", categories_path %>
    <small><%= " >> " %></small>
    <%= link_to category.parent.name.capitalize, category.parent %>
  <% else %>
    <%= link_to "Categories", categories_path %>
  <% end %>
</div>

  <% if category.children.empty? && category.notes.empty? && category.photos.empty? %>
    <p> This folder is empty! </p>

  <% else %>
    <% category.children.each do |child| %>
    <div class="category-name"><%= link_to child.name, child %></div>
    <% end %>

    <% category.notes.each_with_index do |note, i| %>
      <h3>
        Note <%= i + 1 %>
      </h3>
      <div>Name: <%= note.note_with_type %></div>
      <div>Author: <%= note.user_id %></div>
      <div>Category: <%= note.category.name %></div>
      <div>Body: <%= note.body %></div>
    <% end %>

    <% category.photos.each_with_index do |photo, i| %>
      <h3>
        Photo <%= i + 1 %>
      </h3>
      <div>Name: <%= photo.name %></div>
      <div>Author: <%= photo.user.name %></div>
      <div>Category: <%= photo.category.name %></div>
      <div>Description: <%= photo.desc %></div>
      <div><%= image_tag photo.upload.url(:medium) %></div>
    <% end %>
  <% end %>
