<div>
  <% if %>
    <% if category %>
      <% if category.parent_category.parent_category %>
        <p><%= link_to "Back", category_path(category.parent_category.parent_category), class: "waves-effect waves-light btn" %></p>
      <% else %>
        <p><%= link_to "Back", categories_path, class: "waves-effect waves-light btn" %></p>
      <% end %>

      <div><%= link_to category.name, category %></div>
    <% else %>
      <p><%= link_to "Back", :back, class: "waves-effect waves-light btn" %></p>
    <% end %>

    <% if notes %>
      <% notes.each_with_index do |note, i| %>
        <h3>
          Note <%= i + 1 %>
        </h3>
        <div>Name: <%= note.note_with_type %></div>
        <div>Author: <%= note.user_id %></div>
        <div>Category: <%= note.category.name %></div>
        <div>Body: <%= note.body %></div>
      <% end %>
    <% end %>
    <%= "This folder is empty" %>
  <% end %>
</div>
