<<<<<<< HEAD
<div>

  <% ### Back Button when no child category exists ### %>
  <% if categories.empty? %>
    <p><%= link_to "Back", :back, class: "waves-effect waves-light btn" %></p>
  <% end %>

  <% ### When either a child category or note is present %>
  <% unless categories.empty? && notes.empty? && photos.empty? %>
    <% ### n is necessary to prevent button duplicates for each category that populates %>
    <% n = 0 %>
    <% categories.each do |category| %>

      <% ### Back buttons when categories have a parent or no parent ### %>
      <% if (n < 1) %>
        <% if category.parent_category.parent_category %>
          <p><%= link_to "Back", category_path(category.parent_category.parent_category), class: "waves-effect waves-light btn" %></p>
          <% n += 1 %>
        <% else %>
          <p><%= link_to "Back", categories_path, class: "waves-effect waves-light btn" %></p>
          <% n += 1 %>
        <% end %>
      <% end %>

    <% ### Displays children categories (if any) ### %>
      <div><%= link_to category.name, category %></div>
    <% end %>

    <% ### Displays notes (if any) ### %>
    <% notes.each_with_index do |note, i| %>
      <h3>
        Note <%= i + 1 %>
      </h3>
      <div>Name: <%= note.note_with_type %></div>
      <div>Author: <%= note.user_id %></div>
      <div>Category: <%= note.category.name %></div>
      <div>Body: <%= note.body %></div>
    <% end %>

    <% ### Displays photos (if any) ### %>
    <% photos.each_with_index do |photo, i| %>
      <h3>
        Photo <%= i + 1 %>
      </h3>
      <div>Name: <%= photo.name %></div>
      <div>Author: <%= photo.user.name %></div>
      <div>Category: <%= photo.category.name %></div>
      <div>Description: <%= photo.desc %></div>
      <div><%= image_tag photo.upload.url(:medium) %></div>
    <% end %>

  <% ### Message when no child category or note exists %>
  <% else %>
    <p> "This folder is empty! </p>
  <% end %>

</div>
=======
<div> <%= link_to "Create Category", new_category_path(id: category.parent_category_id), class: "btn" %> </div>

  <p>
      <%= link_to category.name, category %>
  </p>
>>>>>>> b3a9bf3e110ed3d2f75ea628112fc61dbbdc98a8
