<!DOCTYPE html>
<html>
  <head>
    <title>Filecabinet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
      <% if signed_in? %>
        <%= current_user.name %>
        <%= button_to "Sign Out", sign_out_path, method: :delete, class: "waves-effect waves-light btn sign-out" %>
      <% else %>
        <%= link_to "Sign In", sign_in_path, class: "waves-effect waves-light btn sign-in" %>
        <%= link_to "Sign Up", sign_up_path, class: "waves-effect waves-light btn sign-up" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
